 <!-- HEADER -->
 <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>

      <!-- lOGO TEXT HERE -->
      <a class="navbar-brand">Jovial Celebrations LLC.</a>
    </div>

    <!-- MENU LINKS -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
        <li data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/home" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <!--li data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/treats" routerLinkActive="active">Treats</a></li-->
        <!--<li data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li-->
        <li data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/promotions" routerLinkActive="active">Promotions</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </div>
</section>