footer {
  margin-top: auto;
  height: 100px;
  clear: both;
  color: #202020;
}

.horizontal-border {
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color:#666;
  opcaity: 0.5;
}

#copyright {
  position: relative;
  text-align: center;
}

.footer-logo {
  width: 100%;
  text-align: center;
}

.social-icon {
  position: relative;
  padding: 10px;
  margin: 0;
  text-align: center;
}

ul {
  position:center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border-radius: 50px;
  color: #114ec0;
  font-size: 40px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
  color: #f700ff;
}

.fa-instagram {
  padding: 5px;
}

#quote1 {
  float: left;
}

#quote2 {
  float: right;
}

@media only screen and (max-width: 992px) {
  footer {
    padding-bottom: 40px;
  }
}

