<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <hr class="horizontal-border" />

      <div class=footer-logo id=logo>

          <div class="quote" id="quote1">
            <p>
              
            </p>
          </div>
          <div class="quote" id="quote2">
            <p>
              
            </p>
          </div>

          <div class="socialMedia-icon" id="socialMedia">
            <ul class="social-icon">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <li><a href="https://www.facebook.com/jovialcelebrations/" class="fa fa-facebook-square" attr="facebook icon" target="_blank"></a></li>
              <li><a href="https://www.instagram.com/jovialcelebrations" class="fa fa-instagram" attr="instagram icon" target="_blank"></a></li>
            </ul>
          </div>
      </div>


      
      <!--hr class="vertical-border"/>
      <hr class="horizontal-border" /-->
      <div class="copyright-text col-md-12 col-sm-12">
        <div id="copyright">
          <p>Copyright &copy; 2019 Jovial Celebrations LLC.</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</footer>
