<section id="about">
  <div class="container">
    <div class="row">
      
      <div class="col-md-offset-3 col-md-6 col-sm-12">
        <div class="section-title"><h1></h1></div>

        <div class="group-pic">
          <img
            src="./../../assets/images/staff/GroupBanquet.jpg"
            alt="grouppic"
          />
          <div class="group-pic bottom">
            <p id="teamblurb">
              "Great things in business are rarely done by one great person, but
              by a great team."
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title"><h1>Meet the Team</h1></div>
      </div>

      <div class="col-md-6 col-sm-6">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a id="navTab01" href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab" (click)="working01=true; working02=false; working03=false; working04=false">Jai-Leigh</a>
          </li>

          <li>
            <a id="navTab02" href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab" (click)="working02=true; working01=false; working03=false; working04=false">Chezney</a>
          </li>

          <li>
            <a id="navTab03" href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab" (click)="working03=true; working01=false; working02=false; working04=false">J'lesa</a>
          </li>
          <li>
            <a id="navTab04" href="#tab04" aria-controls="tab04" role="tab" data-toggle="tab" (click)="working04=true; working01=false; working02=false; working03=false">Trayvon</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab01" role="tabpanel">
            <div class="tab-pane-item">
              <p>
                Jai-Leigh (Jai) Phillips, an 8th grader, striving to graduate
                middle and high school. Planning to attend ECU or UNCP,
                graduating with a Bachelor of science in Music and Sonography,
                concentrating in ultrasound. Jai-Leigh enjoys playing the
                clarinet and snare drum, along with her passion of singing. She
                works as our Administrative Assistant and will normally be the
                first person you interact with. <br />
                <br />
                Fun Fact: Jai-Leigh loves watching Riverdale!
              </p>
            </div>
          </div>

          <div class="tab-pane" id="tab02" role="tabpanel">
            <div class="tab-pane-item">
              <p>
                Chezney (Chez) Baxter is a 2017 graduate of UNC Greensboro
                with a Bachelors in Human Development and Family Studies and
                currently works as a Preschool Teacher. She is the Themes and
                Execution Specialist of Jovial Celebrations. She loves design
                and decor. Chezney even created 90% of the decorations featured
                at her own baby shower. She is a DIY fanatic and won't give up
                until it's perfect. Chez is determined to please the client.
                <br />
                <br />
                Fun Fact : Chezney is also a cosmetology student and looks for
                ways to bring all her interests together.
              </p>
            </div>
          </div>

          <div class="tab-pane" id="tab03" role="tabpanel">
            <div class="tab-pane-item">
              <h2></h2>
              <p>
                J'lesa (Jaee) Carr, a certified Event Planner, is a 2017
                graduate of UNC Greensboro with a Bachelors in Computer Science
                and works as a full time Jr. Project Manager. She is the Founder
                and Logistics Specialist of Jovial Celebrations. Jaee enjoys
                planning in great detail and creating tasty treats. Jaee loves
                to see her ideas come to fruition. She has a passion for serving
                the community and is an active member of Alpha Kappa Alpha
                Sorority Inc. She is committed to making stress free events and
                happy clients. 
                <br />
                <br />
                Fun Fact : Jaee loves to sing and go to church 🙌.
              </p>
            </div>
          </div>

          <div class="tab-pane" id="tab04" role="tabpanel">
            <div class="tab-pane-item">
              <p>
                Trayvon (Tray) McKnight, is a 2017 graduate of UNC Greensboro with a Bachelor of Science
                in Computer science. He works fulltime as a Software Automation Engineer. Tray is Jovial
                Celebration's technology and balloon specialist. He enjoys fitness and videogames.
                <br />
                <br />
                Fun Fact : Tray is left handed.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 feature">
        <div class="feature-image" id="image">
            <img class="rotate-90ccw" id="tab01-img" [hidden]="!working01" src="./../../assets/images/staff/staffpersonalj.JPG">
            <img class="rotate-90ccw" id="tab02-img" [hidden]="!working02" src="./../../assets/images/staff/pic1.JPG">
            <img id="tab03-img" [hidden]="!working03" src="./../../assets/images/staff/jaee_grad.jpg">
            <img class="rotate-90ccw" id="tab04-img" [hidden]="!working04" src="./../../assets/images/staff/staffpersonalt.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
