#about .col-md-4 {
  margin: 0;
  padding: 0;
}

h1{
 text-align: center;
}

#teamblurb{
  font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
  font-style: italic, bold;
  color: rgb(104, 1, 104);
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.group-pic {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5%;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

#image img{
  object-fit: cover;
  width: 100%;
  height: auto;
}

.feature{
  overflow: hidden;
  height: 400px;
}

.feature-image{
  text-align: center;
}

.feature-image .rotate-90ccw{
  height: 100%;
  padding-top: 100px;
}

div.group-pic.bottom {
  text-align: center;
  padding: 10px 20px;
  background-color: black;
}

.individual-info {
  width: 100%;
  text-align: center;
}

.rotate-90ccw {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}