body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

[class|="confetti"] {
  position: absolute;
}

.confetti-0 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 30%;
  opacity: 0.9869856037;
  -webkit-transform: rotate(101.4916579419deg);
          transform: rotate(101.4916579419deg);
  -webkit-animation: drop-0 4.1622295907s 0.5558908218s infinite;
          animation: drop-0 4.1622295907s 0.5558908218s infinite;
}

@-webkit-keyframes drop-0 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-1 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 44%;
  opacity: 0.5260485181;
  -webkit-transform: rotate(278.7320982668deg);
          transform: rotate(278.7320982668deg);
  -webkit-animation: drop-1 4.0409174589s 0.7014068872s infinite;
          animation: drop-1 4.0409174589s 0.7014068872s infinite;
}

@-webkit-keyframes drop-1 {
  100% {
    top: 110%;
    left: 54%;
  }
}

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 54%;
  }
}

.confetti-2 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 40%;
  opacity: 1.0145592668;
  -webkit-transform: rotate(5.7263444294deg);
          transform: rotate(5.7263444294deg);
  -webkit-animation: drop-2 4.0871109668s 0.8725424713s infinite;
          animation: drop-2 4.0871109668s 0.8725424713s infinite;
}

@-webkit-keyframes drop-2 {
  100% {
    top: 110%;
    left: 51%;
  }
}

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-3 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 3%;
  opacity: 1.3136917357;
  -webkit-transform: rotate(184.2272336971deg);
          transform: rotate(184.2272336971deg);
  -webkit-animation: drop-3 4.1076942994s 0.2770662821s infinite;
          animation: drop-3 4.1076942994s 0.2770662821s infinite;
}

@-webkit-keyframes drop-3 {
  100% {
    top: 110%;
    left: 6%;
  }
}

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 6%;
  }
}
.confetti-4 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 56%;
  opacity: 1.0903348359;
  -webkit-transform: rotate(188.8336052993deg);
          transform: rotate(188.8336052993deg);
  -webkit-animation: drop-4 4.9957036825s 0.132707456s infinite;
          animation: drop-4 4.9957036825s 0.132707456s infinite;
}

@-webkit-keyframes drop-4 {
  100% {
    top: 110%;
    left: 61%;
  }
}

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-5 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 77%;
  opacity: 0.7842938444;
  -webkit-transform: rotate(89.3457496003deg);
          transform: rotate(89.3457496003deg);
  -webkit-animation: drop-5 4.8011605756s 0.6905051385s infinite;
          animation: drop-5 4.8011605756s 0.6905051385s infinite;
}

@-webkit-keyframes drop-5 {
  100% {
    top: 110%;
    left: 87%;
  }
}

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 87%;
  }
}
.confetti-6 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 55%;
  opacity: 1.2791233098;
  -webkit-transform: rotate(95.9815256829deg);
          transform: rotate(95.9815256829deg);
  -webkit-animation: drop-6 4.8165769122s 0.6151367983s infinite;
          animation: drop-6 4.8165769122s 0.6151367983s infinite;
}

@-webkit-keyframes drop-6 {
  100% {
    top: 110%;
    left: 62%;
  }
}

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-7 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 7%;
  opacity: 0.8817777817;
  -webkit-transform: rotate(115.8051965018deg);
          transform: rotate(115.8051965018deg);
  -webkit-animation: drop-7 4.1318031198s 0.9146466314s infinite;
          animation: drop-7 4.1318031198s 0.9146466314s infinite;
}

@-webkit-keyframes drop-7 {
  100% {
    top: 110%;
    left: 20%;
  }
}

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-8 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 32%;
  opacity: 1.3626009881;
  -webkit-transform: rotate(176.9395605596deg);
          transform: rotate(176.9395605596deg);
  -webkit-animation: drop-8 4.5056329143s 0.0847976933s infinite;
          animation: drop-8 4.5056329143s 0.0847976933s infinite;
}

@-webkit-keyframes drop-8 {
  100% {
    top: 110%;
    left: 41%;
  }
}

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-9 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 91%;
  opacity: 1.3829974752;
  -webkit-transform: rotate(66.2649139489deg);
          transform: rotate(66.2649139489deg);
  -webkit-animation: drop-9 4.7343270414s 0.4852837696s infinite;
          animation: drop-9 4.7343270414s 0.4852837696s infinite;
}

@-webkit-keyframes drop-9 {
  100% {
    top: 110%;
    left: 103%;
  }
}

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 103%;
  }
}
.confetti-10 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 64%;
  opacity: 0.9308811652;
  -webkit-transform: rotate(201.756017752deg);
          transform: rotate(201.756017752deg);
  -webkit-animation: drop-10 4.0983431607s 0.3868524829s infinite;
          animation: drop-10 4.0983431607s 0.3868524829s infinite;
}

@-webkit-keyframes drop-10 {
  100% {
    top: 110%;
    left: 70%;
  }
}

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-11 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 16%;
  opacity: 0.6925257812;
  -webkit-transform: rotate(175.2699599525deg);
          transform: rotate(175.2699599525deg);
  -webkit-animation: drop-11 4.2296702618s 0.8855190741s infinite;
          animation: drop-11 4.2296702618s 0.8855190741s infinite;
}

@-webkit-keyframes drop-11 {
  100% {
    top: 110%;
    left: 24%;
  }
}

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 24%;
  }
}
.confetti-12 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 60%;
  opacity: 0.8705854978;
  -webkit-transform: rotate(7.2921650789deg);
          transform: rotate(7.2921650789deg);
  -webkit-animation: drop-12 4.2596542723s 0.7421130951s infinite;
          animation: drop-12 4.2596542723s 0.7421130951s infinite;
}

@-webkit-keyframes drop-12 {
  100% {
    top: 110%;
    left: 71%;
  }
}

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-13 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 18%;
  opacity: 0.5286044824;
  -webkit-transform: rotate(151.4197677532deg);
          transform: rotate(151.4197677532deg);
  -webkit-animation: drop-13 4.9633451467s 0.8836657637s infinite;
          animation: drop-13 4.9633451467s 0.8836657637s infinite;
}

@-webkit-keyframes drop-13 {
  100% {
    top: 110%;
    left: 19%;
  }
}

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-14 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 66%;
  opacity: 0.6095207419;
  -webkit-transform: rotate(211.5175663228deg);
          transform: rotate(211.5175663228deg);
  -webkit-animation: drop-14 4.3582246463s 0.6590955279s infinite;
          animation: drop-14 4.3582246463s 0.6590955279s infinite;
}

@-webkit-keyframes drop-14 {
  100% {
    top: 110%;
    left: 68%;
  }
}

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-15 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 64%;
  opacity: 0.9591455527;
  -webkit-transform: rotate(146.1155927111deg);
          transform: rotate(146.1155927111deg);
  -webkit-animation: drop-15 4.5442066421s 0.7690703785s infinite;
          animation: drop-15 4.5442066421s 0.7690703785s infinite;
}

@-webkit-keyframes drop-15 {
  100% {
    top: 110%;
    left: 69%;
  }
}

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-16 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 100%;
  opacity: 1.0129022379;
  -webkit-transform: rotate(237.2770892753deg);
          transform: rotate(237.2770892753deg);
  -webkit-animation: drop-16 4.6663466861s 0.0625296459s infinite;
          animation: drop-16 4.6663466861s 0.0625296459s infinite;
}

@-webkit-keyframes drop-16 {
  100% {
    top: 110%;
    left: 105%;
  }
}

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-17 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 15%;
  opacity: 1.3992191835;
  -webkit-transform: rotate(106.6244170867deg);
          transform: rotate(106.6244170867deg);
  -webkit-animation: drop-17 4.4075034397s 0.3580292102s infinite;
          animation: drop-17 4.4075034397s 0.3580292102s infinite;
}

@-webkit-keyframes drop-17 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-18 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 60%;
  opacity: 0.79751258;
  -webkit-transform: rotate(286.2540743068deg);
          transform: rotate(286.2540743068deg);
  -webkit-animation: drop-18 4.1559299307s 0.3997457713s infinite;
          animation: drop-18 4.1559299307s 0.3997457713s infinite;
}

@-webkit-keyframes drop-18 {
  100% {
    top: 110%;
    left: 72%;
  }
}

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-19 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 86%;
  opacity: 0.5959067489;
  -webkit-transform: rotate(177.6372560998deg);
          transform: rotate(177.6372560998deg);
  -webkit-animation: drop-19 4.8462826291s 0.6932174378s infinite;
          animation: drop-19 4.8462826291s 0.6932174378s infinite;
}

@-webkit-keyframes drop-19 {
  100% {
    top: 110%;
    left: 90%;
  }
}

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-20 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 95%;
  opacity: 0.6902594247;
  -webkit-transform: rotate(259.1178822732deg);
          transform: rotate(259.1178822732deg);
  -webkit-animation: drop-20 4.1738897246s 0.7361346199s infinite;
          animation: drop-20 4.1738897246s 0.7361346199s infinite;
}

@-webkit-keyframes drop-20 {
  100% {
    top: 110%;
    left: 101%;
  }
}

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 101%;
  }
}
.confetti-21 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 44%;
  opacity: 0.8133737818;
  -webkit-transform: rotate(66.3740555383deg);
          transform: rotate(66.3740555383deg);
  -webkit-animation: drop-21 4.2131828211s 0.8707984065s infinite;
          animation: drop-21 4.2131828211s 0.8707984065s infinite;
}

@-webkit-keyframes drop-21 {
  100% {
    top: 110%;
    left: 57%;
  }
}

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-22 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 89%;
  opacity: 0.9146536245;
  -webkit-transform: rotate(116.572583846deg);
          transform: rotate(116.572583846deg);
  -webkit-animation: drop-22 4.1034232386s 0.1299990817s infinite;
          animation: drop-22 4.1034232386s 0.1299990817s infinite;
}

@-webkit-keyframes drop-22 {
  100% {
    top: 110%;
    left: 91%;
  }
}

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-23 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 8%;
  opacity: 1.388345594;
  -webkit-transform: rotate(106.4593714683deg);
          transform: rotate(106.4593714683deg);
  -webkit-animation: drop-23 4.2095319746s 0.2573843306s infinite;
          animation: drop-23 4.2095319746s 0.2573843306s infinite;
}

@-webkit-keyframes drop-23 {
  100% {
    top: 110%;
    left: 15%;
  }
}

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 15%;
  }
}
.confetti-24 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 61%;
  opacity: 1.2044008545;
  -webkit-transform: rotate(248.9243882362deg);
          transform: rotate(248.9243882362deg);
  -webkit-animation: drop-24 4.9818053792s 0.7896257166s infinite;
          animation: drop-24 4.9818053792s 0.7896257166s infinite;
}

@-webkit-keyframes drop-24 {
  100% {
    top: 110%;
    left: 62%;
  }
}

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-25 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 25%;
  opacity: 1.0773926406;
  -webkit-transform: rotate(229.7802114489deg);
          transform: rotate(229.7802114489deg);
  -webkit-animation: drop-25 4.6277756316s 0.6557432364s infinite;
          animation: drop-25 4.6277756316s 0.6557432364s infinite;
}

@-webkit-keyframes drop-25 {
  100% {
    top: 110%;
    left: 37%;
  }
}

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-26 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 20%;
  opacity: 0.7231020118;
  -webkit-transform: rotate(234.5194247921deg);
          transform: rotate(234.5194247921deg);
  -webkit-animation: drop-26 4.4176098437s 0.133372515s infinite;
          animation: drop-26 4.4176098437s 0.133372515s infinite;
}

@-webkit-keyframes drop-26 {
  100% {
    top: 110%;
    left: 32%;
  }
}

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-27 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 94%;
  opacity: 0.8197382634;
  -webkit-transform: rotate(85.8066227684deg);
          transform: rotate(85.8066227684deg);
  -webkit-animation: drop-27 4.2756986954s 0.1840235521s infinite;
          animation: drop-27 4.2756986954s 0.1840235521s infinite;
}

@-webkit-keyframes drop-27 {
  100% {
    top: 110%;
    left: 97%;
  }
}

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-28 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 98%;
  opacity: 0.973426987;
  -webkit-transform: rotate(203.6976340436deg);
          transform: rotate(203.6976340436deg);
  -webkit-animation: drop-28 4.8848014771s 0.5235979208s infinite;
          animation: drop-28 4.8848014771s 0.5235979208s infinite;
}

@-webkit-keyframes drop-28 {
  100% {
    top: 110%;
    left: 108%;
  }
}

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.confetti-29 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 53%;
  opacity: 1.2123105188;
  -webkit-transform: rotate(283.83852512deg);
          transform: rotate(283.83852512deg);
  -webkit-animation: drop-29 4.568109999s 0.6091391453s infinite;
          animation: drop-29 4.568109999s 0.6091391453s infinite;
}

@-webkit-keyframes drop-29 {
  100% {
    top: 110%;
    left: 68%;
  }
}

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-30 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 40%;
  opacity: 0.76021313;
  -webkit-transform: rotate(39.9608334287deg);
          transform: rotate(39.9608334287deg);
  -webkit-animation: drop-30 4.1012858137s 0.8410899504s infinite;
          animation: drop-30 4.1012858137s 0.8410899504s infinite;
}

@-webkit-keyframes drop-30 {
  100% {
    top: 110%;
    left: 55%;
  }
}

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 55%;
  }
}
.confetti-31 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 68%;
  opacity: 0.5906031564;
  -webkit-transform: rotate(255.6003209623deg);
          transform: rotate(255.6003209623deg);
  -webkit-animation: drop-31 4.2821889429s 0.4361077483s infinite;
          animation: drop-31 4.2821889429s 0.4361077483s infinite;
}

@-webkit-keyframes drop-31 {
  100% {
    top: 110%;
    left: 80%;
  }
}

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 80%;
  }
}
.confetti-32 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 37%;
  opacity: 0.9483141848;
  -webkit-transform: rotate(24.664657131deg);
          transform: rotate(24.664657131deg);
  -webkit-animation: drop-32 4.2793322831s 0.3687386096s infinite;
          animation: drop-32 4.2793322831s 0.3687386096s infinite;
}

@-webkit-keyframes drop-32 {
  100% {
    top: 110%;
    left: 52%;
  }
}

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-33 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 42%;
  opacity: 1.0377057013;
  -webkit-transform: rotate(47.331827998deg);
          transform: rotate(47.331827998deg);
  -webkit-animation: drop-33 4.6028313429s 0.1992301382s infinite;
          animation: drop-33 4.6028313429s 0.1992301382s infinite;
}

@-webkit-keyframes drop-33 {
  100% {
    top: 110%;
    left: 44%;
  }
}

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-34 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 62%;
  opacity: 0.650683405;
  -webkit-transform: rotate(131.2719128448deg);
          transform: rotate(131.2719128448deg);
  -webkit-animation: drop-34 4.5023131434s 0.2669503847s infinite;
          animation: drop-34 4.5023131434s 0.2669503847s infinite;
}

@-webkit-keyframes drop-34 {
  100% {
    top: 110%;
    left: 75%;
  }
}

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-35 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 6%;
  opacity: 0.8294126309;
  -webkit-transform: rotate(46.5960089334deg);
          transform: rotate(46.5960089334deg);
  -webkit-animation: drop-35 4.9506944187s 0.2771934858s infinite;
          animation: drop-35 4.9506944187s 0.2771934858s infinite;
}

@-webkit-keyframes drop-35 {
  100% {
    top: 110%;
    left: 14%;
  }
}

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-36 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 1.3116968113;
  -webkit-transform: rotate(134.1449082259deg);
          transform: rotate(134.1449082259deg);
  -webkit-animation: drop-36 4.5589213638s 0.0066763234s infinite;
          animation: drop-36 4.5589213638s 0.0066763234s infinite;
}

@-webkit-keyframes drop-36 {
  100% {
    top: 110%;
    left: 12%;
  }
}

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 12%;
  }
}
.confetti-37 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 85%;
  opacity: 0.7484268737;
  -webkit-transform: rotate(100.9994836265deg);
          transform: rotate(100.9994836265deg);
  -webkit-animation: drop-37 4.543980884s 0.5368507812s infinite;
          animation: drop-37 4.543980884s 0.5368507812s infinite;
}

@-webkit-keyframes drop-37 {
  100% {
    top: 110%;
    left: 100%;
  }
}

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-38 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 99%;
  opacity: 1.341515422;
  -webkit-transform: rotate(262.020251022deg);
          transform: rotate(262.020251022deg);
  -webkit-animation: drop-38 4.7636003642s 0.8891590143s infinite;
          animation: drop-38 4.7636003642s 0.8891590143s infinite;
}

@-webkit-keyframes drop-38 {
  100% {
    top: 110%;
    left: 107%;
  }
}

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 107%;
  }
}
.confetti-39 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 22%;
  opacity: 1.2533701593;
  -webkit-transform: rotate(11.3083963478deg);
          transform: rotate(11.3083963478deg);
  -webkit-animation: drop-39 4.5659049569s 0.7155447296s infinite;
          animation: drop-39 4.5659049569s 0.7155447296s infinite;
}

@-webkit-keyframes drop-39 {
  100% {
    top: 110%;
    left: 34%;
  }
}

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-40 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 20%;
  opacity: 0.6552599489;
  -webkit-transform: rotate(262.7460399167deg);
          transform: rotate(262.7460399167deg);
  -webkit-animation: drop-40 4.1471155689s 0.3374318042s infinite;
          animation: drop-40 4.1471155689s 0.3374318042s infinite;
}

@-webkit-keyframes drop-40 {
  100% {
    top: 110%;
    left: 24%;
  }
}

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 24%;
  }
}
.confetti-41 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 26%;
  opacity: 0.6874786354;
  -webkit-transform: rotate(103.399171267deg);
          transform: rotate(103.399171267deg);
  -webkit-animation: drop-41 4.3325038776s 0.6027796552s infinite;
          animation: drop-41 4.3325038776s 0.6027796552s infinite;
}

@-webkit-keyframes drop-41 {
  100% {
    top: 110%;
    left: 27%;
  }
}

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-42 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 73%;
  opacity: 1.0815703386;
  -webkit-transform: rotate(268.4408584959deg);
          transform: rotate(268.4408584959deg);
  -webkit-animation: drop-42 4.8548926635s 0.9859525274s infinite;
          animation: drop-42 4.8548926635s 0.9859525274s infinite;
}

@-webkit-keyframes drop-42 {
  100% {
    top: 110%;
    left: 87%;
  }
}

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 87%;
  }
}
.confetti-43 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 45%;
  opacity: 1.0673622122;
  -webkit-transform: rotate(114.9901595606deg);
          transform: rotate(114.9901595606deg);
  -webkit-animation: drop-43 4.1038034982s 0.8413430821s infinite;
          animation: drop-43 4.1038034982s 0.8413430821s infinite;
}

@-webkit-keyframes drop-43 {
  100% {
    top: 110%;
    left: 57%;
  }
}

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-44 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 34%;
  opacity: 0.5845947371;
  -webkit-transform: rotate(76.1805640645deg);
          transform: rotate(76.1805640645deg);
  -webkit-animation: drop-44 4.1007067925s 0.475368191s infinite;
          animation: drop-44 4.1007067925s 0.475368191s infinite;
}

@-webkit-keyframes drop-44 {
  100% {
    top: 110%;
    left: 45%;
  }
}

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-45 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 64%;
  opacity: 1.2848968905;
  -webkit-transform: rotate(9.1320488168deg);
          transform: rotate(9.1320488168deg);
  -webkit-animation: drop-45 4.7433223223s 0.7586749657s infinite;
          animation: drop-45 4.7433223223s 0.7586749657s infinite;
}

@-webkit-keyframes drop-45 {
  100% {
    top: 110%;
    left: 79%;
  }
}

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-46 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 1.2454671879;
  -webkit-transform: rotate(266.4826103453deg);
          transform: rotate(266.4826103453deg);
  -webkit-animation: drop-46 4.7120284048s 0.173415803s infinite;
          animation: drop-46 4.7120284048s 0.173415803s infinite;
}

@-webkit-keyframes drop-46 {
  100% {
    top: 110%;
    left: 96%;
  }
}

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-47 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 95%;
  opacity: 0.829755289;
  -webkit-transform: rotate(202.5455025069deg);
          transform: rotate(202.5455025069deg);
  -webkit-animation: drop-47 4.7998540146s 0.1576978742s infinite;
          animation: drop-47 4.7998540146s 0.1576978742s infinite;
}

@-webkit-keyframes drop-47 {
  100% {
    top: 110%;
    left: 97%;
  }
}

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-48 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 20%;
  opacity: 0.9741498001;
  -webkit-transform: rotate(166.3465999687deg);
          transform: rotate(166.3465999687deg);
  -webkit-animation: drop-48 4.3097782427s 0.8618693864s infinite;
          animation: drop-48 4.3097782427s 0.8618693864s infinite;
}

@-webkit-keyframes drop-48 {
  100% {
    top: 110%;
    left: 27%;
  }
}

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-49 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 63%;
  opacity: 1.1790339514;
  -webkit-transform: rotate(212.9060795767deg);
          transform: rotate(212.9060795767deg);
  -webkit-animation: drop-49 4.2524691591s 0.3708947077s infinite;
          animation: drop-49 4.2524691591s 0.3708947077s infinite;
}

@-webkit-keyframes drop-49 {
  100% {
    top: 110%;
    left: 78%;
  }
}

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-50 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 2%;
  opacity: 1.4832420505;
  -webkit-transform: rotate(111.0775044999deg);
          transform: rotate(111.0775044999deg);
  -webkit-animation: drop-50 4.6250646701s 0.577204088s infinite;
          animation: drop-50 4.6250646701s 0.577204088s infinite;
}

@-webkit-keyframes drop-50 {
  100% {
    top: 110%;
    left: 9%;
  }
}

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 9%;
  }
}
.confetti-51 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 95%;
  opacity: 0.7245919819;
  -webkit-transform: rotate(242.7047547211deg);
          transform: rotate(242.7047547211deg);
  -webkit-animation: drop-51 4.675280296s 0.402277135s infinite;
          animation: drop-51 4.675280296s 0.402277135s infinite;
}

@-webkit-keyframes drop-51 {
  100% {
    top: 110%;
    left: 102%;
  }
}

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-52 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 27%;
  opacity: 0.5512274768;
  -webkit-transform: rotate(199.6027494137deg);
          transform: rotate(199.6027494137deg);
  -webkit-animation: drop-52 4.3831583601s 0.0215858761s infinite;
          animation: drop-52 4.3831583601s 0.0215858761s infinite;
}

@-webkit-keyframes drop-52 {
  100% {
    top: 110%;
    left: 35%;
  }
}

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-53 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 75%;
  opacity: 1.2357687437;
  -webkit-transform: rotate(299.7987894952deg);
          transform: rotate(299.7987894952deg);
  -webkit-animation: drop-53 4.5362668782s 0.1917426449s infinite;
          animation: drop-53 4.5362668782s 0.1917426449s infinite;
}

@-webkit-keyframes drop-53 {
  100% {
    top: 110%;
    left: 78%;
  }
}

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-54 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 64%;
  opacity: 1.3334477649;
  -webkit-transform: rotate(176.7587277759deg);
          transform: rotate(176.7587277759deg);
  -webkit-animation: drop-54 4.52995566s 0.888883086s infinite;
          animation: drop-54 4.52995566s 0.888883086s infinite;
}

@-webkit-keyframes drop-54 {
  100% {
    top: 110%;
    left: 69%;
  }
}

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-55 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 23%;
  opacity: 1.0875405258;
  -webkit-transform: rotate(198.2990166802deg);
          transform: rotate(198.2990166802deg);
  -webkit-animation: drop-55 4.589872604s 0.2426944264s infinite;
          animation: drop-55 4.589872604s 0.2426944264s infinite;
}

@-webkit-keyframes drop-55 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-56 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 36%;
  opacity: 1.2030668307;
  -webkit-transform: rotate(231.5914616128deg);
          transform: rotate(231.5914616128deg);
  -webkit-animation: drop-56 4.302361055s 0.5165406115s infinite;
          animation: drop-56 4.302361055s 0.5165406115s infinite;
}

@-webkit-keyframes drop-56 {
  100% {
    top: 110%;
    left: 51%;
  }
}

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-57 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 39%;
  opacity: 1.2076930486;
  -webkit-transform: rotate(22.2595083536deg);
          transform: rotate(22.2595083536deg);
  -webkit-animation: drop-57 4.9451861098s 0.8356009427s infinite;
          animation: drop-57 4.9451861098s 0.8356009427s infinite;
}

@-webkit-keyframes drop-57 {
  100% {
    top: 110%;
    left: 45%;
  }
}

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-58 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 17%;
  opacity: 0.9281467246;
  -webkit-transform: rotate(318.8304156795deg);
          transform: rotate(318.8304156795deg);
  -webkit-animation: drop-58 4.2057901713s 0.8559137125s infinite;
          animation: drop-58 4.2057901713s 0.8559137125s infinite;
}

@-webkit-keyframes drop-58 {
  100% {
    top: 110%;
    left: 23%;
  }
}

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-59 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 57%;
  opacity: 0.94608351;
  -webkit-transform: rotate(337.6043942874deg);
          transform: rotate(337.6043942874deg);
  -webkit-animation: drop-59 4.5105500877s 0.1000687439s infinite;
          animation: drop-59 4.5105500877s 0.1000687439s infinite;
}

@-webkit-keyframes drop-59 {
  100% {
    top: 110%;
    left: 67%;
  }
}

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-60 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 1.1514176369;
  -webkit-transform: rotate(215.2042214611deg);
          transform: rotate(215.2042214611deg);
  -webkit-animation: drop-60 4.3925856045s 0.9495025632s infinite;
          animation: drop-60 4.3925856045s 0.9495025632s infinite;
}

@-webkit-keyframes drop-60 {
  100% {
    top: 110%;
    left: 51%;
  }
}

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-61 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 36%;
  opacity: 0.6680094121;
  -webkit-transform: rotate(333.6965398159deg);
          transform: rotate(333.6965398159deg);
  -webkit-animation: drop-61 4.6825021673s 0.9423006713s infinite;
          animation: drop-61 4.6825021673s 0.9423006713s infinite;
}

@-webkit-keyframes drop-61 {
  100% {
    top: 110%;
    left: 43%;
  }
}

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-62 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 57%;
  opacity: 0.9656677861;
  -webkit-transform: rotate(312.4745631509deg);
          transform: rotate(312.4745631509deg);
  -webkit-animation: drop-62 4.7054901632s 0.2591963679s infinite;
          animation: drop-62 4.7054901632s 0.2591963679s infinite;
}

@-webkit-keyframes drop-62 {
  100% {
    top: 110%;
    left: 59%;
  }
}

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-63 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 98%;
  opacity: 0.7864916741;
  -webkit-transform: rotate(133.1438632374deg);
          transform: rotate(133.1438632374deg);
  -webkit-animation: drop-63 4.7640829597s 0.9899076447s infinite;
          animation: drop-63 4.7640829597s 0.9899076447s infinite;
}

@-webkit-keyframes drop-63 {
  100% {
    top: 110%;
    left: 112%;
  }
}

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 112%;
  }
}
.confetti-64 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 8%;
  opacity: 0.8659269713;
  -webkit-transform: rotate(309.9098982112deg);
          transform: rotate(309.9098982112deg);
  -webkit-animation: drop-64 4.5949711163s 0.4247967813s infinite;
          animation: drop-64 4.5949711163s 0.4247967813s infinite;
}

@-webkit-keyframes drop-64 {
  100% {
    top: 110%;
    left: 21%;
  }
}

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-65 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 30%;
  opacity: 1.3119166615;
  -webkit-transform: rotate(197.5548089457deg);
          transform: rotate(197.5548089457deg);
  -webkit-animation: drop-65 4.5598674893s 0.9953243098s infinite;
          animation: drop-65 4.5598674893s 0.9953243098s infinite;
}

@-webkit-keyframes drop-65 {
  100% {
    top: 110%;
    left: 37%;
  }
}

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-66 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 67%;
  opacity: 1.4246391601;
  -webkit-transform: rotate(102.059247657deg);
          transform: rotate(102.059247657deg);
  -webkit-animation: drop-66 4.7969165327s 0.9128271578s infinite;
          animation: drop-66 4.7969165327s 0.9128271578s infinite;
}

@-webkit-keyframes drop-66 {
  100% {
    top: 110%;
    left: 68%;
  }
}

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-67 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 92%;
  opacity: 0.7850844264;
  -webkit-transform: rotate(32.7749088856deg);
          transform: rotate(32.7749088856deg);
  -webkit-animation: drop-67 4.5963327416s 0.9721983101s infinite;
          animation: drop-67 4.5963327416s 0.9721983101s infinite;
}

@-webkit-keyframes drop-67 {
  100% {
    top: 110%;
    left: 94%;
  }
}

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-68 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 10%;
  opacity: 1.4777469774;
  -webkit-transform: rotate(298.064706864deg);
          transform: rotate(298.064706864deg);
  -webkit-animation: drop-68 4.341062608s 0.1518729614s infinite;
          animation: drop-68 4.341062608s 0.1518729614s infinite;
}

@-webkit-keyframes drop-68 {
  100% {
    top: 110%;
    left: 14%;
  }
}

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-69 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 14%;
  opacity: 0.8562206494;
  -webkit-transform: rotate(313.360269164deg);
          transform: rotate(313.360269164deg);
  -webkit-animation: drop-69 4.33010372s 0.3835254547s infinite;
          animation: drop-69 4.33010372s 0.3835254547s infinite;
}

@-webkit-keyframes drop-69 {
  100% {
    top: 110%;
    left: 26%;
  }
}

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 26%;
  }
}
.confetti-70 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 0.708705715;
  -webkit-transform: rotate(96.0088638467deg);
          transform: rotate(96.0088638467deg);
  -webkit-animation: drop-70 4.7516604255s 0.0883744037s infinite;
          animation: drop-70 4.7516604255s 0.0883744037s infinite;
}

@-webkit-keyframes drop-70 {
  100% {
    top: 110%;
    left: 83%;
  }
}

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-71 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 12%;
  opacity: 0.9956946775;
  -webkit-transform: rotate(6.5210879204deg);
          transform: rotate(6.5210879204deg);
  -webkit-animation: drop-71 4.2200344868s 0.043863721s infinite;
          animation: drop-71 4.2200344868s 0.043863721s infinite;
}

@-webkit-keyframes drop-71 {
  100% {
    top: 110%;
    left: 16%;
  }
}

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-72 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 50%;
  opacity: 1.2711723128;
  -webkit-transform: rotate(253.3411565955deg);
          transform: rotate(253.3411565955deg);
  -webkit-animation: drop-72 4.2541301297s 0.0201702781s infinite;
          animation: drop-72 4.2541301297s 0.0201702781s infinite;
}

@-webkit-keyframes drop-72 {
  100% {
    top: 110%;
    left: 59%;
  }
}

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-73 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 76%;
  opacity: 1.0317288928;
  -webkit-transform: rotate(204.9455262031deg);
          transform: rotate(204.9455262031deg);
  -webkit-animation: drop-73 4.2736513856s 0.4415808619s infinite;
          animation: drop-73 4.2736513856s 0.4415808619s infinite;
}

@-webkit-keyframes drop-73 {
  100% {
    top: 110%;
    left: 86%;
  }
}

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-74 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 89%;
  opacity: 1.3082795624;
  -webkit-transform: rotate(100.0313352507deg);
          transform: rotate(100.0313352507deg);
  -webkit-animation: drop-74 4.2805139679s 0.3410806944s infinite;
          animation: drop-74 4.2805139679s 0.3410806944s infinite;
}

@-webkit-keyframes drop-74 {
  100% {
    top: 110%;
    left: 99%;
  }
}

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 99%;
  }
}
.confetti-75 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 60%;
  opacity: 1.0822385247;
  -webkit-transform: rotate(79.4662886555deg);
          transform: rotate(79.4662886555deg);
  -webkit-animation: drop-75 4.7620105933s 0.7843510666s infinite;
          animation: drop-75 4.7620105933s 0.7843510666s infinite;
}

@-webkit-keyframes drop-75 {
  100% {
    top: 110%;
    left: 72%;
  }
}

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-76 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 70%;
  opacity: 0.5151303662;
  -webkit-transform: rotate(300.8755220306deg);
          transform: rotate(300.8755220306deg);
  -webkit-animation: drop-76 4.6965229037s 0.7118221065s infinite;
          animation: drop-76 4.6965229037s 0.7118221065s infinite;
}

@-webkit-keyframes drop-76 {
  100% {
    top: 110%;
    left: 77%;
  }
}

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-77 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 35%;
  opacity: 0.8322140634;
  -webkit-transform: rotate(74.3813647038deg);
          transform: rotate(74.3813647038deg);
  -webkit-animation: drop-77 4.4429591959s 0.0428966856s infinite;
          animation: drop-77 4.4429591959s 0.0428966856s infinite;
}

@-webkit-keyframes drop-77 {
  100% {
    top: 110%;
    left: 36%;
  }
}

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 36%;
  }
}
.confetti-78 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 66%;
  opacity: 1.4685659781;
  -webkit-transform: rotate(319.3657959369deg);
          transform: rotate(319.3657959369deg);
  -webkit-animation: drop-78 4.6173234832s 0.7002161775s infinite;
          animation: drop-78 4.6173234832s 0.7002161775s infinite;
}

@-webkit-keyframes drop-78 {
  100% {
    top: 110%;
    left: 75%;
  }
}

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-79 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 64%;
  opacity: 0.9491078602;
  -webkit-transform: rotate(239.243571513deg);
          transform: rotate(239.243571513deg);
  -webkit-animation: drop-79 4.2543016238s 0.2741246716s infinite;
          animation: drop-79 4.2543016238s 0.2741246716s infinite;
}

@-webkit-keyframes drop-79 {
  100% {
    top: 110%;
    left: 70%;
  }
}

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-80 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 0.5342972878;
  -webkit-transform: rotate(125.0293766796deg);
          transform: rotate(125.0293766796deg);
  -webkit-animation: drop-80 4.42592205s 0.8278541069s infinite;
          animation: drop-80 4.42592205s 0.8278541069s infinite;
}

@-webkit-keyframes drop-80 {
  100% {
    top: 110%;
    left: 90%;
  }
}

@keyframes drop-80 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-81 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 8%;
  opacity: 0.9637420567;
  -webkit-transform: rotate(256.8348893497deg);
          transform: rotate(256.8348893497deg);
  -webkit-animation: drop-81 4.744970444s 0.1040620727s infinite;
          animation: drop-81 4.744970444s 0.1040620727s infinite;
}

@-webkit-keyframes drop-81 {
  100% {
    top: 110%;
    left: 11%;
  }
}

@keyframes drop-81 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-82 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 68%;
  opacity: 1.0615574871;
  -webkit-transform: rotate(105.078012015deg);
          transform: rotate(105.078012015deg);
  -webkit-animation: drop-82 4.8459149158s 0.7988283493s infinite;
          animation: drop-82 4.8459149158s 0.7988283493s infinite;
}

@-webkit-keyframes drop-82 {
  100% {
    top: 110%;
    left: 70%;
  }
}

@keyframes drop-82 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-83 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 92%;
  opacity: 0.939831388;
  -webkit-transform: rotate(170.3824310678deg);
          transform: rotate(170.3824310678deg);
  -webkit-animation: drop-83 4.9580555854s 0.0320685049s infinite;
          animation: drop-83 4.9580555854s 0.0320685049s infinite;
}

@-webkit-keyframes drop-83 {
  100% {
    top: 110%;
    left: 94%;
  }
}

@keyframes drop-83 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-84 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 97%;
  opacity: 0.8798073846;
  -webkit-transform: rotate(201.5628872204deg);
          transform: rotate(201.5628872204deg);
  -webkit-animation: drop-84 4.0306904204s 0.5191113279s infinite;
          animation: drop-84 4.0306904204s 0.5191113279s infinite;
}

@-webkit-keyframes drop-84 {
  100% {
    top: 110%;
    left: 111%;
  }
}

@keyframes drop-84 {
  100% {
    top: 110%;
    left: 111%;
  }
}
.confetti-85 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 89%;
  opacity: 1.0501341774;
  -webkit-transform: rotate(259.2349475843deg);
          transform: rotate(259.2349475843deg);
  -webkit-animation: drop-85 4.2043308783s 0.917449021s infinite;
          animation: drop-85 4.2043308783s 0.917449021s infinite;
}

@-webkit-keyframes drop-85 {
  100% {
    top: 110%;
    left: 92%;
  }
}

@keyframes drop-85 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-86 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 1%;
  opacity: 1.127022678;
  -webkit-transform: rotate(282.6671741248deg);
          transform: rotate(282.6671741248deg);
  -webkit-animation: drop-86 4.4691470883s 0.3972172051s infinite;
          animation: drop-86 4.4691470883s 0.3972172051s infinite;
}

@-webkit-keyframes drop-86 {
  100% {
    top: 110%;
    left: 3%;
  }
}

@keyframes drop-86 {
  100% {
    top: 110%;
    left: 3%;
  }
}
.confetti-87 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 10%;
  opacity: 0.9508957947;
  -webkit-transform: rotate(293.9430095626deg);
          transform: rotate(293.9430095626deg);
  -webkit-animation: drop-87 4.9413387701s 0.1684381089s infinite;
          animation: drop-87 4.9413387701s 0.1684381089s infinite;
}

@-webkit-keyframes drop-87 {
  100% {
    top: 110%;
    left: 15%;
  }
}

@keyframes drop-87 {
  100% {
    top: 110%;
    left: 15%;
  }
}
.confetti-88 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 75%;
  opacity: 0.962072816;
  -webkit-transform: rotate(26.4494436933deg);
          transform: rotate(26.4494436933deg);
  -webkit-animation: drop-88 4.4436331339s 0.6139705115s infinite;
          animation: drop-88 4.4436331339s 0.6139705115s infinite;
}

@-webkit-keyframes drop-88 {
  100% {
    top: 110%;
    left: 82%;
  }
}

@keyframes drop-88 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-89 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 14%;
  opacity: 1.2482377845;
  -webkit-transform: rotate(292.5933606767deg);
          transform: rotate(292.5933606767deg);
  -webkit-animation: drop-89 4.0160156626s 0.5544675082s infinite;
          animation: drop-89 4.0160156626s 0.5544675082s infinite;
}

@-webkit-keyframes drop-89 {
  100% {
    top: 110%;
    left: 22%;
  }
}

@keyframes drop-89 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-90 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 93%;
  opacity: 0.9330095623;
  -webkit-transform: rotate(315.8399990609deg);
          transform: rotate(315.8399990609deg);
  -webkit-animation: drop-90 4.4078129645s 0.811508241s infinite;
          animation: drop-90 4.4078129645s 0.811508241s infinite;
}

@-webkit-keyframes drop-90 {
  100% {
    top: 110%;
    left: 98%;
  }
}

@keyframes drop-90 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-91 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 67%;
  opacity: 1.3354476479;
  -webkit-transform: rotate(34.655033711deg);
          transform: rotate(34.655033711deg);
  -webkit-animation: drop-91 4.2737316363s 0.6746395111s infinite;
          animation: drop-91 4.2737316363s 0.6746395111s infinite;
}

@-webkit-keyframes drop-91 {
  100% {
    top: 110%;
    left: 75%;
  }
}

@keyframes drop-91 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-92 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 47%;
  opacity: 1.0313354675;
  -webkit-transform: rotate(289.4758719475deg);
          transform: rotate(289.4758719475deg);
  -webkit-animation: drop-92 4.4308140573s 0.2674283342s infinite;
          animation: drop-92 4.4308140573s 0.2674283342s infinite;
}

@-webkit-keyframes drop-92 {
  100% {
    top: 110%;
    left: 52%;
  }
}

@keyframes drop-92 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-93 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 11%;
  opacity: 0.6925863646;
  -webkit-transform: rotate(43.8534952343deg);
          transform: rotate(43.8534952343deg);
  -webkit-animation: drop-93 4.4595382171s 0.9634817632s infinite;
          animation: drop-93 4.4595382171s 0.9634817632s infinite;
}

@-webkit-keyframes drop-93 {
  100% {
    top: 110%;
    left: 23%;
  }
}

@keyframes drop-93 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-94 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 11%;
  opacity: 0.905592941;
  -webkit-transform: rotate(45.2198590708deg);
          transform: rotate(45.2198590708deg);
  -webkit-animation: drop-94 4.8793071428s 0.0014508014s infinite;
          animation: drop-94 4.8793071428s 0.0014508014s infinite;
}

@-webkit-keyframes drop-94 {
  100% {
    top: 110%;
    left: 25%;
  }
}

@keyframes drop-94 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-95 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 75%;
  opacity: 1.4754226091;
  -webkit-transform: rotate(143.7251140287deg);
          transform: rotate(143.7251140287deg);
  -webkit-animation: drop-95 4.3087198818s 0.1630131551s infinite;
          animation: drop-95 4.3087198818s 0.1630131551s infinite;
}

@-webkit-keyframes drop-95 {
  100% {
    top: 110%;
    left: 78%;
  }
}

@keyframes drop-95 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-96 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 72%;
  opacity: 1.0086518603;
  -webkit-transform: rotate(100.6121994845deg);
          transform: rotate(100.6121994845deg);
  -webkit-animation: drop-96 4.7907836563s 0.9520217378s infinite;
          animation: drop-96 4.7907836563s 0.9520217378s infinite;
}

@-webkit-keyframes drop-96 {
  100% {
    top: 110%;
    left: 86%;
  }
}

@keyframes drop-96 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-97 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 0.9279872012;
  -webkit-transform: rotate(29.0196715652deg);
          transform: rotate(29.0196715652deg);
  -webkit-animation: drop-97 4.334254366s 0.5486107051s infinite;
          animation: drop-97 4.334254366s 0.5486107051s infinite;
}

@-webkit-keyframes drop-97 {
  100% {
    top: 110%;
    left: 22%;
  }
}

@keyframes drop-97 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-98 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 1.2584786569;
  -webkit-transform: rotate(84.2421578451deg);
          transform: rotate(84.2421578451deg);
  -webkit-animation: drop-98 4.2032019153s 0.6935300423s infinite;
          animation: drop-98 4.2032019153s 0.6935300423s infinite;
}

@-webkit-keyframes drop-98 {
  100% {
    top: 110%;
    left: 71%;
  }
}

@keyframes drop-98 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-99 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 84%;
  opacity: 0.6778248473;
  -webkit-transform: rotate(158.082730702deg);
          transform: rotate(158.082730702deg);
  -webkit-animation: drop-99 4.4668687822s 0.7051462509s infinite;
          animation: drop-99 4.4668687822s 0.7051462509s infinite;
}

@-webkit-keyframes drop-99 {
  100% {
    top: 110%;
    left: 95%;
  }
}

@keyframes drop-99 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-100 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 91%;
  opacity: 1.3536744229;
  -webkit-transform: rotate(3.1511943042deg);
          transform: rotate(3.1511943042deg);
  -webkit-animation: drop-100 4.1309467372s 0.0095738682s infinite;
          animation: drop-100 4.1309467372s 0.0095738682s infinite;
}

@-webkit-keyframes drop-100 {
  100% {
    top: 110%;
    left: 103%;
  }
}

@keyframes drop-100 {
  100% {
    top: 110%;
    left: 103%;
  }
}
.confetti-101 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 55%;
  opacity: 0.5194646055;
  -webkit-transform: rotate(96.1412860237deg);
          transform: rotate(96.1412860237deg);
  -webkit-animation: drop-101 4.534293433s 0.272853131s infinite;
          animation: drop-101 4.534293433s 0.272853131s infinite;
}

@-webkit-keyframes drop-101 {
  100% {
    top: 110%;
    left: 58%;
  }
}

@keyframes drop-101 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-102 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 16%;
  opacity: 1.3774379526;
  -webkit-transform: rotate(64.9692794408deg);
          transform: rotate(64.9692794408deg);
  -webkit-animation: drop-102 4.2289706384s 0.2932635734s infinite;
          animation: drop-102 4.2289706384s 0.2932635734s infinite;
}

@-webkit-keyframes drop-102 {
  100% {
    top: 110%;
    left: 27%;
  }
}

@keyframes drop-102 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-103 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 96%;
  opacity: 1.148226145;
  -webkit-transform: rotate(235.9653833093deg);
          transform: rotate(235.9653833093deg);
  -webkit-animation: drop-103 4.3075579145s 0.6742889279s infinite;
          animation: drop-103 4.3075579145s 0.6742889279s infinite;
}

@-webkit-keyframes drop-103 {
  100% {
    top: 110%;
    left: 109%;
  }
}

@keyframes drop-103 {
  100% {
    top: 110%;
    left: 109%;
  }
}
.confetti-104 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 24%;
  opacity: 1.1237571629;
  -webkit-transform: rotate(344.5465389485deg);
          transform: rotate(344.5465389485deg);
  -webkit-animation: drop-104 4.8752853312s 0.5049437603s infinite;
          animation: drop-104 4.8752853312s 0.5049437603s infinite;
}

@-webkit-keyframes drop-104 {
  100% {
    top: 110%;
    left: 26%;
  }
}

@keyframes drop-104 {
  100% {
    top: 110%;
    left: 26%;
  }
}
.confetti-105 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 24%;
  opacity: 0.5812211407;
  -webkit-transform: rotate(108.9893598865deg);
          transform: rotate(108.9893598865deg);
  -webkit-animation: drop-105 4.9353049255s 0.6379587706s infinite;
          animation: drop-105 4.9353049255s 0.6379587706s infinite;
}

@-webkit-keyframes drop-105 {
  100% {
    top: 110%;
    left: 39%;
  }
}

@keyframes drop-105 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-106 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 27%;
  opacity: 0.8022115695;
  -webkit-transform: rotate(190.7412075746deg);
          transform: rotate(190.7412075746deg);
  -webkit-animation: drop-106 4.6374616837s 0.3299046335s infinite;
          animation: drop-106 4.6374616837s 0.3299046335s infinite;
}

@-webkit-keyframes drop-106 {
  100% {
    top: 110%;
    left: 41%;
  }
}

@keyframes drop-106 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-107 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 12%;
  opacity: 1.2759406946;
  -webkit-transform: rotate(20.734124864deg);
          transform: rotate(20.734124864deg);
  -webkit-animation: drop-107 4.2249464389s 0.5687095248s infinite;
          animation: drop-107 4.2249464389s 0.5687095248s infinite;
}

@-webkit-keyframes drop-107 {
  100% {
    top: 110%;
    left: 20%;
  }
}

@keyframes drop-107 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-108 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 2%;
  opacity: 0.6663494686;
  -webkit-transform: rotate(329.4221356864deg);
          transform: rotate(329.4221356864deg);
  -webkit-animation: drop-108 4.8299359278s 0.5757506656s infinite;
          animation: drop-108 4.8299359278s 0.5757506656s infinite;
}

@-webkit-keyframes drop-108 {
  100% {
    top: 110%;
    left: 4%;
  }
}

@keyframes drop-108 {
  100% {
    top: 110%;
    left: 4%;
  }
}
.confetti-109 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 94%;
  opacity: 0.6512707027;
  -webkit-transform: rotate(195.0033045161deg);
          transform: rotate(195.0033045161deg);
  -webkit-animation: drop-109 4.6140762714s 0.2460563517s infinite;
          animation: drop-109 4.6140762714s 0.2460563517s infinite;
}

@-webkit-keyframes drop-109 {
  100% {
    top: 110%;
    left: 106%;
  }
}

@keyframes drop-109 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-110 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 40%;
  opacity: 0.9184234271;
  -webkit-transform: rotate(7.8349523921deg);
          transform: rotate(7.8349523921deg);
  -webkit-animation: drop-110 4.6096835388s 0.8511120696s infinite;
          animation: drop-110 4.6096835388s 0.8511120696s infinite;
}

@-webkit-keyframes drop-110 {
  100% {
    top: 110%;
    left: 44%;
  }
}

@keyframes drop-110 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-111 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 46%;
  opacity: 0.893880205;
  -webkit-transform: rotate(200.838228249deg);
          transform: rotate(200.838228249deg);
  -webkit-animation: drop-111 4.0057618904s 0.0058676016s infinite;
          animation: drop-111 4.0057618904s 0.0058676016s infinite;
}

@-webkit-keyframes drop-111 {
  100% {
    top: 110%;
    left: 56%;
  }
}

@keyframes drop-111 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-112 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 44%;
  opacity: 0.5963733139;
  -webkit-transform: rotate(190.0851158726deg);
          transform: rotate(190.0851158726deg);
  -webkit-animation: drop-112 4.9333470161s 0.1822923625s infinite;
          animation: drop-112 4.9333470161s 0.1822923625s infinite;
}

@-webkit-keyframes drop-112 {
  100% {
    top: 110%;
    left: 45%;
  }
}

@keyframes drop-112 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-113 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 89%;
  opacity: 1.3530406923;
  -webkit-transform: rotate(98.0047672635deg);
          transform: rotate(98.0047672635deg);
  -webkit-animation: drop-113 4.3460021932s 0.5287804068s infinite;
          animation: drop-113 4.3460021932s 0.5287804068s infinite;
}

@-webkit-keyframes drop-113 {
  100% {
    top: 110%;
    left: 94%;
  }
}

@keyframes drop-113 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-114 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 62%;
  opacity: 0.5558214926;
  -webkit-transform: rotate(8.7064950961deg);
          transform: rotate(8.7064950961deg);
  -webkit-animation: drop-114 4.8090020617s 0.8336074942s infinite;
          animation: drop-114 4.8090020617s 0.8336074942s infinite;
}

@-webkit-keyframes drop-114 {
  100% {
    top: 110%;
    left: 65%;
  }
}

@keyframes drop-114 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-115 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 18%;
  opacity: 0.846525636;
  -webkit-transform: rotate(4.2455121258deg);
          transform: rotate(4.2455121258deg);
  -webkit-animation: drop-115 4.2135895668s 0.3047525578s infinite;
          animation: drop-115 4.2135895668s 0.3047525578s infinite;
}

@-webkit-keyframes drop-115 {
  100% {
    top: 110%;
    left: 20%;
  }
}

@keyframes drop-115 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-116 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 47%;
  opacity: 1.4633522843;
  -webkit-transform: rotate(297.4164046925deg);
          transform: rotate(297.4164046925deg);
  -webkit-animation: drop-116 4.7625364013s 0.2263159071s infinite;
          animation: drop-116 4.7625364013s 0.2263159071s infinite;
}

@-webkit-keyframes drop-116 {
  100% {
    top: 110%;
    left: 62%;
  }
}

@keyframes drop-116 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-117 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 88%;
  opacity: 0.5939792049;
  -webkit-transform: rotate(341.9404592336deg);
          transform: rotate(341.9404592336deg);
  -webkit-animation: drop-117 4.3388435873s 0.7327755139s infinite;
          animation: drop-117 4.3388435873s 0.7327755139s infinite;
}

@-webkit-keyframes drop-117 {
  100% {
    top: 110%;
    left: 96%;
  }
}

@keyframes drop-117 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-118 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 20%;
  opacity: 0.7973832728;
  -webkit-transform: rotate(137.1959186947deg);
          transform: rotate(137.1959186947deg);
  -webkit-animation: drop-118 4.0867372885s 0.8736014322s infinite;
          animation: drop-118 4.0867372885s 0.8736014322s infinite;
}

@-webkit-keyframes drop-118 {
  100% {
    top: 110%;
    left: 34%;
  }
}

@keyframes drop-118 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-119 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 8%;
  opacity: 0.5472212273;
  -webkit-transform: rotate(294.6361004298deg);
          transform: rotate(294.6361004298deg);
  -webkit-animation: drop-119 4.1532731614s 0.9908305744s infinite;
          animation: drop-119 4.1532731614s 0.9908305744s infinite;
}

@-webkit-keyframes drop-119 {
  100% {
    top: 110%;
    left: 17%;
  }
}

@keyframes drop-119 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-120 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 55%;
  opacity: 1.0722928874;
  -webkit-transform: rotate(85.9515351478deg);
          transform: rotate(85.9515351478deg);
  -webkit-animation: drop-120 4.7340504887s 0.4736531322s infinite;
          animation: drop-120 4.7340504887s 0.4736531322s infinite;
}

@-webkit-keyframes drop-120 {
  100% {
    top: 110%;
    left: 63%;
  }
}

@keyframes drop-120 {
  100% {
    top: 110%;
    left: 63%;
  }
}
.confetti-121 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 28%;
  opacity: 0.742528477;
  -webkit-transform: rotate(106.9112470714deg);
          transform: rotate(106.9112470714deg);
  -webkit-animation: drop-121 4.4774948714s 0.4040082829s infinite;
          animation: drop-121 4.4774948714s 0.4040082829s infinite;
}

@-webkit-keyframes drop-121 {
  100% {
    top: 110%;
    left: 29%;
  }
}

@keyframes drop-121 {
  100% {
    top: 110%;
    left: 29%;
  }
}
.confetti-122 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 98%;
  opacity: 1.3791401827;
  -webkit-transform: rotate(225.856448748deg);
          transform: rotate(225.856448748deg);
  -webkit-animation: drop-122 4.1028999558s 0.3156774355s infinite;
          animation: drop-122 4.1028999558s 0.3156774355s infinite;
}

@-webkit-keyframes drop-122 {
  100% {
    top: 110%;
    left: 108%;
  }
}

@keyframes drop-122 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.confetti-123 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 36%;
  opacity: 1.2126462117;
  -webkit-transform: rotate(348.8698119466deg);
          transform: rotate(348.8698119466deg);
  -webkit-animation: drop-123 4.8344358247s 0.3449183803s infinite;
          animation: drop-123 4.8344358247s 0.3449183803s infinite;
}

@-webkit-keyframes drop-123 {
  100% {
    top: 110%;
    left: 41%;
  }
}

@keyframes drop-123 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-124 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 67%;
  opacity: 0.6788477308;
  -webkit-transform: rotate(273.7696495636deg);
          transform: rotate(273.7696495636deg);
  -webkit-animation: drop-124 4.7331754986s 0.8120340688s infinite;
          animation: drop-124 4.7331754986s 0.8120340688s infinite;
}

@-webkit-keyframes drop-124 {
  100% {
    top: 110%;
    left: 82%;
  }
}

@keyframes drop-124 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-125 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 5%;
  opacity: 0.6347275144;
  -webkit-transform: rotate(70.8601090047deg);
          transform: rotate(70.8601090047deg);
  -webkit-animation: drop-125 4.0770717966s 0.3290439526s infinite;
          animation: drop-125 4.0770717966s 0.3290439526s infinite;
}

@-webkit-keyframes drop-125 {
  100% {
    top: 110%;
    left: 20%;
  }
}

@keyframes drop-125 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-126 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 99%;
  opacity: 1.238529412;
  -webkit-transform: rotate(231.566114357deg);
          transform: rotate(231.566114357deg);
  -webkit-animation: drop-126 4.1318945217s 0.1015132715s infinite;
          animation: drop-126 4.1318945217s 0.1015132715s infinite;
}

@-webkit-keyframes drop-126 {
  100% {
    top: 110%;
    left: 105%;
  }
}

@keyframes drop-126 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-127 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 61%;
  opacity: 1.114146221;
  -webkit-transform: rotate(118.2411905158deg);
          transform: rotate(118.2411905158deg);
  -webkit-animation: drop-127 4.7534632201s 0.6830172122s infinite;
          animation: drop-127 4.7534632201s 0.6830172122s infinite;
}

@-webkit-keyframes drop-127 {
  100% {
    top: 110%;
    left: 69%;
  }
}

@keyframes drop-127 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-128 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 46%;
  opacity: 0.6203838828;
  -webkit-transform: rotate(161.6112234948deg);
          transform: rotate(161.6112234948deg);
  -webkit-animation: drop-128 4.7684401798s 0.631934617s infinite;
          animation: drop-128 4.7684401798s 0.631934617s infinite;
}

@-webkit-keyframes drop-128 {
  100% {
    top: 110%;
    left: 54%;
  }
}

@keyframes drop-128 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-129 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 26%;
  opacity: 0.9663279159;
  -webkit-transform: rotate(262.5686703449deg);
          transform: rotate(262.5686703449deg);
  -webkit-animation: drop-129 4.051485772s 0.0780283522s infinite;
          animation: drop-129 4.051485772s 0.0780283522s infinite;
}

@-webkit-keyframes drop-129 {
  100% {
    top: 110%;
    left: 29%;
  }
}

@keyframes drop-129 {
  100% {
    top: 110%;
    left: 29%;
  }
}
.confetti-130 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 27%;
  opacity: 1.013878963;
  -webkit-transform: rotate(2.5119796772deg);
          transform: rotate(2.5119796772deg);
  -webkit-animation: drop-130 4.25626055s 0.8869094593s infinite;
          animation: drop-130 4.25626055s 0.8869094593s infinite;
}

@-webkit-keyframes drop-130 {
  100% {
    top: 110%;
    left: 38%;
  }
}

@keyframes drop-130 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-131 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 67%;
  opacity: 0.6573890923;
  -webkit-transform: rotate(32.6781136066deg);
          transform: rotate(32.6781136066deg);
  -webkit-animation: drop-131 4.593135097s 0.6995554246s infinite;
          animation: drop-131 4.593135097s 0.6995554246s infinite;
}

@-webkit-keyframes drop-131 {
  100% {
    top: 110%;
    left: 72%;
  }
}

@keyframes drop-131 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-132 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 30%;
  opacity: 1.2452885734;
  -webkit-transform: rotate(212.8741857635deg);
          transform: rotate(212.8741857635deg);
  -webkit-animation: drop-132 4.2136525917s 0.2110731069s infinite;
          animation: drop-132 4.2136525917s 0.2110731069s infinite;
}

@-webkit-keyframes drop-132 {
  100% {
    top: 110%;
    left: 39%;
  }
}

@keyframes drop-132 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-133 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 1.4791115534;
  -webkit-transform: rotate(121.0942029646deg);
          transform: rotate(121.0942029646deg);
  -webkit-animation: drop-133 4.4333613366s 0.1169590124s infinite;
          animation: drop-133 4.4333613366s 0.1169590124s infinite;
}

@-webkit-keyframes drop-133 {
  100% {
    top: 110%;
    left: 57%;
  }
}

@keyframes drop-133 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-134 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 20%;
  opacity: 1.2429892572;
  -webkit-transform: rotate(132.6848944926deg);
          transform: rotate(132.6848944926deg);
  -webkit-animation: drop-134 4.8011927056s 0.1039256585s infinite;
          animation: drop-134 4.8011927056s 0.1039256585s infinite;
}

@-webkit-keyframes drop-134 {
  100% {
    top: 110%;
    left: 35%;
  }
}

@keyframes drop-134 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-135 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 1.0035692916;
  -webkit-transform: rotate(287.0497803625deg);
          transform: rotate(287.0497803625deg);
  -webkit-animation: drop-135 4.6416777998s 0.8300572771s infinite;
          animation: drop-135 4.6416777998s 0.8300572771s infinite;
}

@-webkit-keyframes drop-135 {
  100% {
    top: 110%;
    left: 48%;
  }
}

@keyframes drop-135 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.confetti-136 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 69%;
  opacity: 0.7943678085;
  -webkit-transform: rotate(281.6183253929deg);
          transform: rotate(281.6183253929deg);
  -webkit-animation: drop-136 4.0342330692s 0.3270965738s infinite;
          animation: drop-136 4.0342330692s 0.3270965738s infinite;
}

@-webkit-keyframes drop-136 {
  100% {
    top: 110%;
    left: 79%;
  }
}

@keyframes drop-136 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-137 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 59%;
  opacity: 0.502779685;
  -webkit-transform: rotate(343.7081045154deg);
          transform: rotate(343.7081045154deg);
  -webkit-animation: drop-137 4.0455973516s 0.5946879023s infinite;
          animation: drop-137 4.0455973516s 0.5946879023s infinite;
}

@-webkit-keyframes drop-137 {
  100% {
    top: 110%;
    left: 73%;
  }
}

@keyframes drop-137 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-138 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 55%;
  opacity: 0.9840327053;
  -webkit-transform: rotate(158.6496598408deg);
          transform: rotate(158.6496598408deg);
  -webkit-animation: drop-138 4.6397827974s 0.8965381723s infinite;
          animation: drop-138 4.6397827974s 0.8965381723s infinite;
}

@-webkit-keyframes drop-138 {
  100% {
    top: 110%;
    left: 67%;
  }
}

@keyframes drop-138 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-139 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 30%;
  opacity: 0.9279798445;
  -webkit-transform: rotate(168.4363197223deg);
          transform: rotate(168.4363197223deg);
  -webkit-animation: drop-139 4.2671110754s 0.8841221477s infinite;
          animation: drop-139 4.2671110754s 0.8841221477s infinite;
}

@-webkit-keyframes drop-139 {
  100% {
    top: 110%;
    left: 32%;
  }
}

@keyframes drop-139 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-140 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 65%;
  opacity: 1.055733102;
  -webkit-transform: rotate(239.7015545163deg);
          transform: rotate(239.7015545163deg);
  -webkit-animation: drop-140 4.9218870088s 0.9869010763s infinite;
          animation: drop-140 4.9218870088s 0.9869010763s infinite;
}

@-webkit-keyframes drop-140 {
  100% {
    top: 110%;
    left: 72%;
  }
}

@keyframes drop-140 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-141 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 98%;
  opacity: 1.0844667241;
  -webkit-transform: rotate(108.4222504764deg);
          transform: rotate(108.4222504764deg);
  -webkit-animation: drop-141 4.5641553333s 0.060340329s infinite;
          animation: drop-141 4.5641553333s 0.060340329s infinite;
}

@-webkit-keyframes drop-141 {
  100% {
    top: 110%;
    left: 113%;
  }
}

@keyframes drop-141 {
  100% {
    top: 110%;
    left: 113%;
  }
}
.confetti-142 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 11%;
  opacity: 1.0374167633;
  -webkit-transform: rotate(351.2652205066deg);
          transform: rotate(351.2652205066deg);
  -webkit-animation: drop-142 4.4581217671s 0.5241775505s infinite;
          animation: drop-142 4.4581217671s 0.5241775505s infinite;
}

@-webkit-keyframes drop-142 {
  100% {
    top: 110%;
    left: 19%;
  }
}

@keyframes drop-142 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-143 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 43%;
  opacity: 1.0680215923;
  -webkit-transform: rotate(271.0101615612deg);
          transform: rotate(271.0101615612deg);
  -webkit-animation: drop-143 4.3105300678s 0.8586502188s infinite;
          animation: drop-143 4.3105300678s 0.8586502188s infinite;
}

@-webkit-keyframes drop-143 {
  100% {
    top: 110%;
    left: 56%;
  }
}

@keyframes drop-143 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-144 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 86%;
  opacity: 1.0802978025;
  -webkit-transform: rotate(197.9606831094deg);
          transform: rotate(197.9606831094deg);
  -webkit-animation: drop-144 4.5261399969s 0.6364423995s infinite;
          animation: drop-144 4.5261399969s 0.6364423995s infinite;
}

@-webkit-keyframes drop-144 {
  100% {
    top: 110%;
    left: 96%;
  }
}

@keyframes drop-144 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-145 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 44%;
  opacity: 1.2948248633;
  -webkit-transform: rotate(73.8139567702deg);
          transform: rotate(73.8139567702deg);
  -webkit-animation: drop-145 4.4049300464s 0.3782631985s infinite;
          animation: drop-145 4.4049300464s 0.3782631985s infinite;
}

@-webkit-keyframes drop-145 {
  100% {
    top: 110%;
    left: 57%;
  }
}

@keyframes drop-145 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-146 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 96%;
  opacity: 1.327520835;
  -webkit-transform: rotate(35.5573946465deg);
          transform: rotate(35.5573946465deg);
  -webkit-animation: drop-146 4.5440114803s 0.4315626204s infinite;
          animation: drop-146 4.5440114803s 0.4315626204s infinite;
}

@-webkit-keyframes drop-146 {
  100% {
    top: 110%;
    left: 102%;
  }
}

@keyframes drop-146 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-147 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 95%;
  opacity: 1.4445638732;
  -webkit-transform: rotate(357.6922469189deg);
          transform: rotate(357.6922469189deg);
  -webkit-animation: drop-147 4.4641441408s 0.4120513812s infinite;
          animation: drop-147 4.4641441408s 0.4120513812s infinite;
}

@-webkit-keyframes drop-147 {
  100% {
    top: 110%;
    left: 110%;
  }
}

@keyframes drop-147 {
  100% {
    top: 110%;
    left: 110%;
  }
}
.confetti-148 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 51%;
  opacity: 1.3230114939;
  -webkit-transform: rotate(183.4959317056deg);
          transform: rotate(183.4959317056deg);
  -webkit-animation: drop-148 4.5101865229s 0.3415987149s infinite;
          animation: drop-148 4.5101865229s 0.3415987149s infinite;
}

@-webkit-keyframes drop-148 {
  100% {
    top: 110%;
    left: 59%;
  }
}

@keyframes drop-148 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-149 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 30%;
  opacity: 0.9465052907;
  -webkit-transform: rotate(168.6874756907deg);
          transform: rotate(168.6874756907deg);
  -webkit-animation: drop-149 4.009999809s 0.3805947262s infinite;
          animation: drop-149 4.009999809s 0.3805947262s infinite;
}

@-webkit-keyframes drop-149 {
  100% {
    top: 110%;
    left: 41%;
  }
}

@keyframes drop-149 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-150 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 86%;
  opacity: 1.4733442039;
  -webkit-transform: rotate(295.0070359453deg);
          transform: rotate(295.0070359453deg);
  -webkit-animation: drop-150 4.4131512335s 0.0201039419s infinite;
          animation: drop-150 4.4131512335s 0.0201039419s infinite;
}

@-webkit-keyframes drop-150 {
  100% {
    top: 110%;
    left: 97%;
  }
}

@keyframes drop-150 {
  100% {
    top: 110%;
    left: 97%;
  }
}

/**.row {
    background-image: url("./../../assets/images/logos/Jovial.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/

