<!-- FEATURE -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title"><h1></h1></div>
      </div>

      <div class="col-md-6 col-sm-6">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab"
              >Planning</a
            >
          </li>

          <li>
            <a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab"
              >Decoration</a
            >
          </li>

          <li>
            <a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab"
              >Treats</a
            >
          </li>

          <!--li>
              <a href="#tab04" aria-controls="tab04" role="tab" data-toggle="tab"
                >Customs</a
              >
          </li-->
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab01" role="tabpanel">
            <div class="tab-pane-item">
              <h2>Full Service</h2>
              <p>
                If you’re looking for someone to plan everything from catering
                to décor and more. This is the package for you. With your vision
                as our objective we will plan & coordinate even the smallest of
                details so that you can spend your time elsewhere. This is a
                more hands-off approach to your event, but we encourage you to
                be involved as you would like. We will set up all vendor
                appointments, create/manage a realistic budget, and create an
                event timeline to lead to a successful celebration.
              </p>
            </div>
            <div class="tab-pane-item">
              <h2>Partial Planning</h2>
              <p>
                Maybe you don’t need that much help. You have majority of your
                plans sorted out but you need a little help with cohesion and
                coordinating other attributes of your celebration. This could
                include design, decorations, vendors, or any other unique
                requests. Because of endless possibilities custom prices are
                created to match your specific needs.
              </p>
            </div>
            <div class="tab-pane-item">
              <h2>Day of Coordination</h2>
              <p>
                This is for the individual who has planned every aspect of their
                event and only needs someone to orchestrate and ensure a
                seamless event that they can participate in. Planning for Day of
                Coordination starts around 1-2 months ahead.
              </p>
            </div>
          </div>

          <div class="tab-pane" id="tab02" role="tabpanel">
            <div class="tab-pane-item">
              <h2>Decor Only</h2>
              <p>
                This plan is different from our other plans. We will work
                strictly on creating and implementing your theme. This includes
                table settings, custom centerpieces, focal points, drapes and
                more. We will work closely with you to make your ideas come to
                fruition through selecting unique decorations .This plan also
                includes set up and breakdown on the day of the event.
              </p>
            </div>
            <div class="tab-pane-item">
              <h2></h2>
              <p></p>
            </div>
          </div>

          <div class="tab-pane" id="tab03" role="tabpanel">
            <div class="tab-pane-item">
              <h2>Treats</h2>
              <p>
                We offer a variety of party treats. Our most popular items are
                Chocolate Dipped Oreos, Candied Popcorn and Candy Apples. Check
                out our social media to see our many creations.
              </p>
              <a href="https://www.cognitoforms.com/JovialCelebrations/TreatForm" target="_blank">To place an order for treats, click here.</a>
            </div>
            <div class="tab-pane-item">
              <h2></h2>
              <p></p>
            </div>
          </div>

          <!--div class="tab-pane" id="tab04" role="tabpanel">
              <div class="tab-pane-item">
                <h2>Customs</h2>
                <p>
                  Customs
                </p>
               </div>
              <div class="tab-pane-item">
                <h2></h2>
                <p></p>
              </div>
          </div-->
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="feature-image">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>
    </div>
  </div>
</section>
