<!-- FEATURE -->
<section id="home"  >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-offset-3 col-md-6 col-sm-12">
        <div class="home-info">
          <h3>Event Planning. Design. Treats</h3>
          <h1>Our vision, is your vision, brought to life!</h1>
        </div>
      </div>

    </div>
  </div>
</section>